<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/images/profile.jpeg">
  <link href="./static/assets/images/profile.jpeg" rel="icon">

  <title>Home Page</title>  

<link href="./static/main.3f6952e4.css" rel="stylesheet"></head>

<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><img src="./static/assets/title.jpg" alt="SB Logo" width="40" height="40" style="vertical-align:middle;margin:-40px -100px"></li>
          <li><a href="./index.html" title=""><b>01 : Home</a></li></b>
          <li><a href="./works.html" title=""><b>02 : Works</a></li></b>
          <li><a href="./about.html" title=""><b>03 : About me</a></li></b>
          <li><a href="./contact.html" title=""><b>04 : Contact</a></li></b>
        </ul>
      </div>
      <div class="text-center">
        <h1 class="h2">01 : Home</h1>
      </div>
    </div>
  </nav>
</header>

<!-- Add your site or app content here -->
<!-- Here we can add the backgaround if we want. -->
  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('./static/assets/images/bg_black1.jpg'); transform: translate3d(-1.03078px, -7.01895px, 0px);">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h1>Hello,<br>
                <span id="typed-strings" style="display: none;">
                  <span>I'm Somnath Paraji Bhusari</span>
                  <span>Mechactronics Engineer</span>
                  <span>Sanjivani College of Engineering Kopargaon-423603</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<footer class="footer-container text-center">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <p>All rights reserved | © Somnath Bhusari | Here is the <a href="about.html" title="About">About Me :) </a>&<a href="contact.html" title="Contact"> Contact Me :)</a></p>
        </div>
      </div>
    </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>


<script type="text/javascript" src="./static/main.70a66962.js"></script></body>

</html>